.section{
    &__hero{
        background-color: $globalblue;
        @include rem(min-height, 750px);
        .container{
            display: flex;
            justify-content: space-between;
            .left{
                color: white;
                
                @include rem(margin-top, 230px);
                @include rem(max-width, 709px);
                .one{
                    position: relative;
                    font-weight: 400;
                    @include rem(font-size, 48px);
                    @include rem(line-height, 57px);
                    z-index: 2;

                }
                .two{
                    position: relative;
                    font-weight: 300;
                    @include rem(font-size, 44px);
                    @include rem(line-height, 55px);
                    z-index: 2;

                }
                .three{
                    position: relative;
                    font-weight: 300;
                    font-style: italic;
                    @include rem(font-size, 48px);
                @include rem(line-height, 65.57px);
                z-index: 2;

                }
            }
            .right{
                @include rem(margin, 57px 0 185px 0);
                width: 100%;
                width: -moz-available;          /* WebKit-based browsers will ignore this. */
                width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
                width: fill-available;
                height: 27vw;
                position: relative;
                img{
                    @include rem(min-width, 150px);
                }
                .hero-img{
                    position: absolute;
                    @include rem(top, 38px);
                    @include rem(right, 295px);
                    z-index: 0;
                    @include mobile{
                        @include rem(right, 140px);
                    }
                }
                .hero-img2{
                    position: absolute;
                    @include rem(top, 162px);
                    @include rem(right, 42px);
                    z-index: 0;
                    @include mobile{
                        @include rem(right, 0px);
                    }
                }
                .hero-img3{
                    position: absolute;
                    @include rem(top, 451px);
                    @include rem(right, 272px);
                    z-index: 0;
                    @include mobile{
                        @include rem(right, 130px);
                    }
                }
            }
        }
    }

    &__projects{
        .container{
            .box{
            @include rem(gap, 43px);
            display: flex;
            .left{
                @include rem(max-width, 909px);
                @include rem(margin-top, 131px);
                @include rem(font-size, 23px);
                @include rem(line-height, 30px);
                color: $globalblue;
                font-weight: 300;
            }
            .right{
                @include rem(margin-top, 102px);
            }
        }

        .projects{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            @include rem(column-gap, 138px);
            @include rem(max-width, 930px);
            margin: auto;
            @include rem(margin-top, 230px);
            @include rem(margin-bottom, 164px);
        }

        .textarea{
            position: relative;
            @include rem(padding, 72px 20px);
            @include rem(font-size, 26px);
            @include rem(line-height, 35px);
            @include rem(max-width, 1108px);
            margin: auto;
            @include rem(margin-bottom, 164px);
            color: #545454;     
            font-weight: 300;
            text-align: center;
            &::before{
                content: "";
                position: absolute;
                inset: 0;
                @include rem(border-radius, 61px);
                @include rem(padding, 5px);
                background: linear-gradient(to top, #2051D0, #2E94F1);
                -webkit-mask: 
                    linear-gradient(#fff 0 0) content-box, 
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
            }
        }

        
    }
    }

    &__speeches{
        background: linear-gradient(to top, #2051D0, #3B98EE);
        .container{
            color: white;
            img{
                @include rem(max-width, 270px);
                @include rem(max-height, 351px);
                @include rem(min-height, 351px);
                object-fit: cover;
                @include rem(border-radius, 37px);
                border: 0.5rem solid #1f94c7;
            }
            .welcome{
                @include rem(padding, 133px 0 118px 0);
                font-weight: 300;
                font-style: italic;
                @include rem(font-size, 56px);
                .speakers{
                    flex-wrap: wrap;
                    @include rem(margin-top, 96px);
                    display: flex;
                @include rem(gap, 150px);
                justify-content: center;
                .text{
                    @include rem(margin-top, 15px);
                    .name{
                        font-weight: 500;
                        @include rem(font-size, 26px);
                        font-style: normal;
                        text-align: center;
                    }
                    .title{
                        font-weight: 300;
                        @include rem(font-size, 26px);
                        font-style: normal;
                        text-align: center;
                    }
                }
                }
            }
            .keynote{
                font-weight: 300;
                font-style: italic;
                @include rem(font-size, 56px);
                @include rem(padding-bottom, 224px);
                .speakers{
                    flex-wrap: wrap;
                    @include rem(margin-top, 96px);
                    display: flex;
                @include rem(gap, 150px);
                justify-content: center;
                &__two{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
                .text{
                    @include rem(margin-top, 15px);
                    .name{
                        font-weight: 500;
                        @include rem(font-size, 26px);
                        font-style: normal;
                        text-align: center;
                    }
                    .title{
                        font-weight: 300;
                        @include rem(font-size, 26px);
                        font-style: normal;
                        text-align: center;
                    }
                }
                }
            }
        }
    }

    &__paragraph{
        
        .container{
            display: flex;
            @include rem(gap, 57px);
            @include tablet{
                flex-direction: column;
            }
            @include mobile{
                flex-direction: column;
            }
            .paragraph{
                @include rem(margin-top, 156px);
                font-weight: 300;
                font-style: italic;
                @include rem(font-size, 26px);
                @include rem(line-height, 34px);
            }
            .p-img{
                @include rem(margin-top, 124px);
                display: flex;
                justify-content: center;
                @include tablet{
                    margin-top: 0;
                }
                @include mobile{
                    margin-top: 0;
                }
            }
        }
    }

    &__registration{
        font-weight: 300;
                @include rem(font-size, 26px);
                @include rem(line-height, 34px);

                @include tablet{
                    @include rem(margin-top, 100px);
                }
                @include mobile{
                    @include rem(margin-top, 100px);
                }
    }
}