.section{
    &__hero{
        background-color: $lightred;
        .container{
            display: flex;
            justify-content: space-between;
            .left{
                color: white;
                @include rem(max-width, 572px);
                @include rem(font-size, 39px);
                @include rem(margin-top, 230px);
                @include rem(line-height, 46.8px);
                .first{
                    font-weight: 700;
                }
                .second{
                    font-weight: 400;
                }
                .third{
                    font-weight: 400;
                    font-style: italic;
                }
            }
            .right{
                @include rem(margin-top, 57px);
                @include rem(margin-bottom, 185px);
                .hero_img{
                    @include rem(max-width, 464px);
                    @include rem(max-height, 464px);
                    object-fit: contain;
                    border-radius: 100%;
                    border: 1.875rem solid $darkred;
                }
            }
        }
    }
}